*{
	padding: 0px;
	margin: 0px;
}html,body{
	height: 100%;
	width: 100%;
}

/*item*/
sup {
    vertical-align: super;
    font-size: smaller;
}sub {
  vertical-align: sub;
  font-size: smaller;
}

/*regist*/
.konten{
	background: #0069D9;
	width: 100%;
	height: 100%;
}

/*mulai*/
/*.ujian{
	background: #F6F6F6;
	width: 100%;
	height: 100%;
}.header{
	width: 100%;
	height: 50px;
}.radio-yakin{
	padding-left: 2rem; 
	padding-right: 2rem;
}*/