				/*Header*/

				*{
					padding: 0px;
					margin: 0px;
				}html,body{
					height: 100%;
					width: 100%;
				}
				#navbar{
					width: 20%;
					height: 100%;
					background: #FFFFFF;
					padding-top: 10px;
					position: fixed;
				}#navbar img{
					display: block;
					margin-left: auto;
					margin-right: auto;
				}#navbar ul li{
					margin-left: 10%;
					position: relative;
					list-style: none;
				}#navbar ul li a{
					text-decoration: none;
					color: #7B7A7A;
					position: relative;
					font-size: 17px;
					display: flex;
					font-family: 'Montserrat', sans-serif;
					padding-top: 10px;
					padding-bottom: 10px;
					border-radius: 5px;
					margin-right: 20px;
				}#navbar ul li a i{
					margin-right: 10px;
					text-align: right;
					margin-left: 10px;
					font-size: 20px;
				}#navbar ul li a .text{
					position: absolute;
					margin-left: 40px;
				}#navbar ul li a i .fa{
					text-align: center;
				}#navbar ul{
					margin-top: 20px;
				}#navbar ul li a:hover{
					background: #A82E67;
					color: #FFF;
					margin-left: 10px;
				}
				#r-side{
					margin-left: 20%;
					width: 100%;
				}#header{
					font-family: 'Yanone Kaffeesatz', sans-serif;
					height: 39px;
					display: flex;
					width: 100%;
					padding-top: 5px;
					position: fixed;
				}#header h1{
					color: #fff;
					margin-right: 20px;
					font-size: 30px;
				}#header i{
					font-size: 30px;
					color: #fff;
				}#text-dashboard{
					margin-left: 30px;
					margin-right: 100px;
					width: 20%;
				}#header a{
					text-align: right;
				}#text-nama{
					width: 47%;
				}#header a i{
					color: #FFDB4B;
				}#header a i:hover{
					color: #fff;
				}sup {
				    vertical-align: super;
				    font-size: smaller;
				}sub {
				  vertical-align: sub;
				  font-size: smaller;
				}

#content{
	margin-top: 40px;
}
